<header style="background-color: rgba(106, 188, 199, 255);">
    <div style="display: flex; align-items: center; justify-content: space-between; padding: 10px 20px;">
        <div style="display: flex; align-items: center;">
            <h1 style="font-family: 'Amatic SC', sans-serif; font-weight: 800; font-size: 3.5rem; margin-left: 10px;">Quiz Craze</h1>
        </div>
        <div style="display: flex; align-items: center; margin-right: 15px;gap: 5px;">
            <a href="/profile" style="margin-right: 15px;margin-top: 2px;"><i class="fas fa-user" style="margin-right: 5px; font-size: 1.5em;"></i></a>
            <a href="/logout" style="color: black;"><i class="fas fa-sign-out-alt" style="margin-right: 5px; font-size: 1.7em;"></i></a>
        </div>
    </div>
    <nav>
        <div style="display: flex;margin-left:30px;align-items: flex-start;align-items: center; width:fit-content;gap: 40px;">
                <button class="btn btn-secondary dropdown-toggle" style="padding: 10px; min-width:80px; width:fit-content; background-color: rgb(226, 241, 86); border-color: black; font-size: 24px; white-space: nowrap;" type="button" id="scienceDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Science
                </button>
                <button class="btn btn-secondary dropdown-toggle" style="padding: 10px; min-width:80px; width:fit-content; background-color: rgb(226, 241, 86); border-color: black; font-size: 24px; white-space: nowrap;" type="button" id="generalKnowledgeDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    General Knowledge
                </button>
                <button class="btn btn-secondary" style="margin:15px; padding: 10px; width:fit-content; min-width: 80px; background-color: rgb(226, 241, 86); border-color: black; font-size: 24px; white-space: nowrap;">
                <a href="/makequiz" style="text-decoration: none;">
                        Make Your Quiz?                    
                </a>
                </button>
        </div>
    </nav>
</header>
