<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz App</title>
    <link href="quiz.css" rel="stylesheet">
</head>
<body >
    <div style=" margin-left:750px;width:100wh; display:flex; align-items: center;justify-content: center;">
    <div class="container">
        <div id="display-result" class="hide">Result</div>
        <div class="que-cont hide" id="que-block">
            <div id="que">Question</div>
            <div id="ans-options" class="btn-grid">
                <!-- <button class="btn">Option 1</button>
                <button class="btn">Option 2</button>
                <button class="btn">Option 3</button>
                <button class="btn">Option 4</button>              -->
            </div>
        </div>
        <div class="controls">
            <button id="start-btn" class="start-btn btn">Start</button>
            <button id="next-btn" class="next-btn btn hide">Next</button>
        </div>
        </div>
    </div>
    <script src="/<%= script %>"></script>
</body>
</html>
