<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Results</title>
    <link href="qstyles.css" rel="stylesheet">
</head>
<body>
    <h1>Quiz Questions</h1>
    <div id="results-list"></div>
    <button id="back-button">Back to Quiz Creator</button>

    <script src="../quiz-results.js"></script>
</body>
</html>
